.body-style{
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
.header-sec{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-items{
    padding-left: 200px;
    padding-top: 20px;
    width: 700px;
}
.header-heading{
    color: #272727;
    font-family: Lato;
    font-size: 73px;
    font-weight: 800;
}

.header-desc{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}
.comon-btn{
    color: #FFF;
    padding: 20px 43px;
    /* gap: 10px; */
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
}
.header-img{
    padding-top: 30px;
    padding-right: 240px;
    width: 600px;
    height: 800px;
}

.feature-sec{
    align-items: center;
    margin-top: 128px;
    /* justify-content: space-around; */
}
.feature-items{
    text-align: center;
}
.feature-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.feature-dec{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    padding: 0px  663px;
}
.all-flowers{
    padding-top: 48px;
    margin: 0px 240px;
    display: flex;
    justify-content: space-between;
}
.flower-img{
    padding-bottom: 0;
    width: 300px;
    height: 418px;
    padding: 120px 76px 0px 76px;
}
.flower-bg-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flower-bg-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flower-bg-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-title{

color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.support-sec{
    display: flex;
    align-items: center;
    margin: 228px 240px 0px 240px;
    padding: 0px 175px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;
    justify-content: space-between;
}
.support-item{
    text-align: center;
}

.deal-sec{
    background: rgba(229, 84, 115, 0.05);

    align-items: center;
    display: flex;
    margin-top: 128px;
    padding: 0px 100px;
    height: 620px;
    justify-content: space-around;
}
.deal-items{
    text-align: center;
}
.deal-title{
    font-size: 40px;
    margin-bottom: 0px;
    color: #272727;
}
.off-color{
    color: #E55473;
}
.deal-desc{
    text-align: center;
    width: 594px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}

.deal-img{
    width: 318px;
    height: 420px;
}

/* social styel */

.social-sec{
    align-items: center;
    margin-top: 128px;
}
.social-items{
    text-align: center;

}
.social-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.social-dec{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 0px  663px;
}
.social-flowers{
    display: flex;
    justify-content: space-between;
    padding: 48px 240px 128px 240px;
}
.social-flower-img{
    width: 342px;
    height: 396px;
}

/* latest deal sec */
.latest-deal{
    align-items: center;
    text-align: center;
    padding-top: 122px;
    margin: 0px 240px;
    background-image: url('Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
}
.latest-deal-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}
.latest-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.mail-form input[type="email"]{
    margin-bottom: 20px;
    padding: 18px 30px;
    color: #757575;

    border-radius: 5px;
    background: #FFF;
    border: 0;
}
.placeholder-text{
    margin-top: 40px;
    align-items: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 600px;
    height: 30px
}

.footer-sec{
    margin-top: 128px;
    width: 1922px;
    height: 449px;
    color: #FFF;
    background: #111010;
}
.footer-items{
    align-items: center;
    text-align: center;
}
.footer-title{
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.flower-text-color{
    color: #E55473;
}
.Shop-text-color{
    color: #FFF;
}
.footer-dec{
    color: #FFF;
}
.footer-dec{
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px  648px;
}

.copyright-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}
.footer-items{
    padding-top: 128px;
}